<%- include('layouts/head.ejs') %>
<%- include('layouts/header.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">This is my homepage</h1>
        </div>
    </div>
</div>


<%- include('layouts/footer.ejs') %>